{% extends "base.html" %}

{% block headtitle %}Относно - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">
	<h2>About</h2>
	<hr/>
	
    <p><a href="https://RaD3v.Club">RaD3v.Club Family Videos</a> е нашата фамилна видео библиотека!</p>
	    
    <p>До видео съдържанието имат достъп само регистрирани потребители и видеоата са видими само за тях. Нито едно от клипчетата не може да се гледа от външни лица. Потребителите могат също да качват съдържание, както и да коментират видеата. Самият сайт хоствам на личен сървър до който достъп имам само аз.</p>

    <p>Всички видеа са от видеокасети и лични архиви, събирани през годините. Ще се постарая да кача всичко, което имам. Вие също може да добавяте видеа, моля възползвайте се!</p>

    <p>Моля, свържете се с мен чрез контактната форма, ако желаете някое от видеата да бъде премахнато поради каквато и да е причина. За да поискате достъп до сайта за трето лице, моля, свържете се с мен чрез формата или други канали за комуникация.</p>

    <p>Приятно гледане на тези безценни спомени!</p>
</div>
{% endblock %}
